{% extends "base.html" %}

{% block title %}Analytics{% endblock %}

{% block page_title %}
Analytics Dashboard
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Top Cards -->

    <div class="row g-4">

        <div class="col-lg-3">
            <div class="dashboard-card">
                <h5>Total Features</h5>
                <h2>{{total_col}}</h2>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="dashboard-card">
                <h5>Highly Related</h5>
                <h2>{{high_related}}</h2>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="dashboard-card">
                <h5>Best Model</h5>
                <h2>CatBoost</h2>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="dashboard-card">
                <h5>Residual Analysis</h5>
                <h2>Completed</h2>
            </div>
        </div>

    </div>

    <br>

    <!-- Grid Layout for Charts -->
    <div class="charts-grid">

        <!-- Correlation Heatmap (Kept Full Width) -->
        <div class="chart-box full-width">
            <h3>Correlation Heatmap</h3>
            <hr>
            <img src="{{ url_for('static', filename='images/correlation.png') }}"
                 class="img-fluid rounded">
        </div>

        <!-- Row 1: Distribution & Predicted vs Actual -->
        <div class="chart-box">
            <h4>SalePrice Distribution</h4>
            <hr>
            <img src="{{ url_for('static', filename='images/feature-importance.png') }}"
                 class="img-fluid rounded">
        </div>

        <div class="chart-box">
            <h4>predicted vs SalePrice</h4>
            <hr>
            <img src="{{ url_for('static', filename='images/act-vs-prd.png') }}"
                 class="img-fluid rounded">
        </div>

        <!-- Row 2: Ground Living Area & Residual Analysis Side-by-Side -->
        <div class="chart-box">
            <h4>Ground Living Area vs SalePrice</h4>
            <hr>
            <img src="{{ url_for('static', filename='images/totalsf-linear.png') }}"
                 class="img-fluid rounded">
        </div>

        <div class="chart-box">
            <h4>Residual Analysis</h4>
            <hr>
            <img src="{{ url_for('static', filename='images/residual.png') }}"
                 class="img-fluid rounded">
        </div>

    </div>

</div>

{% endblock %}