{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block page_title %}
Reports
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row g-4">

        <!-- Prediction Report -->

        <div class="col-lg-4">

            <div class="report-card">


                <h4>Prediction Report</h4>

                <p>

                    Download the complete prediction report.

                </p>


                
                <a href="/report/prediction"
                   class="btn btn-primary">

                    Download PDF

                </a>
                <br>

                {% if message %}
  

                <p>{{message}}</p>

           
                {% endif %}


            </div>

        </div>

        <!-- Model Evaluation -->

        <div class="col-lg-4">

            <div class="report-card">


                <h4>Model Evaluation</h4>

                <p>

                    Performance metrics of every regression model.

                </p>

                <a href="/report/evaluation"
                   class="btn btn-primary">

                    Download PDF

                </a>

            </div>

        </div>


        <div class="col-lg-4">

            <div class="report-card">

                <h4>Model Comparaison</h4>

                <p>

                    Performance comparaison of the model.

                </p>

                <a href="/report/comparison"
                   class="btn btn-primary">

                    Download PDF

                </a>

            </div>

        </div>

        
    </div>

</div>


{% endblock %}