[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pytorch.org"
verify_ssl = true
name = "pytorch"

[[source]]
url = "https://pytorch.org"
verify_ssl = true
name = "pytorch"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
openpyxl = "*"
scikit-learn = "*"
xgboost = "*"
tensorflow = "*"
nltk = "*"
sentence-transformers = "*"
faiss-cpu = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.12"
