{% extends "base.html" %}

{% block title %}AI Assistant{% endblock %}

{% block content %}

<div class="container">

    <!--PAGE HEADER-->

    <div class="page-header">

        <h1 class="page-title">
            AI Customer Assistant
        </h1>

        <p class="page-subtitle">
            Ask questions about a customer's churn risk,
            important factors, and applicable knowledge-base information.
        </p>

    </div>


    <div class="assistant-layout">

        <!--QUESTION FORM-->

        <div class="assistant-card">

            <form
                method="POST"
                action="{{ url_for('assistant') }}"
            >

                <!-- Customer ID -->

                <div class="mb-4">

                    <label
                        for="customer_id"
                        class="form-label fw-semibold"
                    >
                        Customer ID
                    </label>

                    <input
                        type="text"
                        id="customer_id"
                        name="customer_id"
                        class="form-control"
                        placeholder="Enter customer ID"
                        required
                    >

                </div>


                <!-- Question -->

                <div class="mb-4">

                    <label
                        for="question"
                        class="form-label fw-semibold"
                    >
                        Your Question
                    </label>

                    <textarea
                        id="question"
                        name="question"
                        class="form-control"
                        rows="5"
                        placeholder="Ask to the AI about your doubt"
                        required
                    ></textarea>

                </div>

                <!-- Submit -->

                <button
                    type="submit"
                    class="btn-primary-custom w-100"
                >
                    Ask AI Assistant
                </button>

            </form>


            {% if error %}

        <div class="alert alert-danger mt-3" role="alert">
            <strong>Customer not found.</strong>
            {{ error }}
        </div>

        {% endif %}
        </div>


        <!--AI RESPONSE-->

        {% if ai_response %}

        <div class="ai-response">

            <div class="ai-response-title">
                AI Assistant Response
            </div>

            <div class="ai-response-text">
                {{ ai_response }}
            </div>

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}